NODE_ENV=development
PORT=3000
TZ=America/Sao_Paulo

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3310
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=express_app

# GERENCIADOR DE FILAS
RABBITMQ_HOST=127.0.0.1
# SE FOR CONTAINER
# RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=mqadmin
RABBITMQ_PASSWORD=Admin112233
RABBITMQ_NAME_CONTAINER='rabbitmq'